<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NEAT Smoke Test Suite">
<listeners>
			<listener class-name="com.BCAA.neat.utils.TestListener"></listener>
</listeners>
 <test name="NEAT Tests">
  <classes>
            <class name = "com.BCAA.neat.testcases.HabitationalTests"/>
        </classes>
  </test>
</suite>
